* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5% 0 0 0;
  color: #333;
  background: linear-gradient(#333, #322e32, #536d53);
}
footer form {
  color: #333;
  position: relative;
  display: flex;
  max-height: 90vh;
  width: 80%;
  padding: 0.5% 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #f1f1f1;
  border-radius: 0.5vw;
  border-top: 4px solid #537d53;
}
footer form h2 {
  padding: 2% 0;
}
footer form label, footer form input {
  padding: 0.5%;
}
footer form textarea {
  padding: 0.5%;
  min-height: 25vh;
  width: 80%;
  box-sizing: border-box;
  border: none;
}
footer form div {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 0.5vw 0;
}
footer form div label {
  width: 20%;
}
footer form div input {
  border: none;
  width: 80%;
}
footer #contactInfoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 5%;
  flex-basis: 0 1 auto;
  flex-wrap: wrap;
}
footer #contactInfoContainer a #LIL {
  height: 50px;
}

#main-nav-bar {
  transition: linear 2s 0s all;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}
#main-nav-bar > label, #main-nav-bar > input {
  display: none;
}
#main-nav-bar > ul {
  transition: linear 0.1s 0s all;
  width: 50%;
  display: flex;
  font-size: 0.75em;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  border-radius: 0 0 0.5vw 0.5vw;
  border: 1px solid #333;
  border-top: none;
  height: auto;
}
#main-nav-bar > ul > li {
  color: #333;
  padding: 0.5vw;
  position: relative;
  transition: linear 1s 5s all;
}
#main-nav-bar > ul > li a:hover, #main-nav-bar > ul > li label:hover {
  text-decoration: underline;
}
#main-nav-bar > ul > li input {
  visibility: hidden;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#main-nav-bar > ul > li input:checked + #sourcesContainer {
  display: flex;
}
#main-nav-bar > ul > li #sourcesContainer {
  position: absolute;
  top: 175%;
  left: -50%;
  width: 200%;
  display: none;
  align-items: center;
  flex-direction: column;
  background: #f1f1f1;
  text-align: center;
  border-radius: 0.5vw;
  border: 1px solid #333;
}
#main-nav-bar > ul > li #sourcesContainer::before {
  content: "";
  position: relative;
  background: #f1f1f1;
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  top: -9px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  z-index: 1;
}
#main-nav-bar > ul > li #sourcesContainer ul li {
  padding: 0.5vw;
  color: #333;
}
#main-nav-bar > ul > li #sourcesContainer ul li a:hover {
  color: #537d53;
  text-decoration: none;
}
#initial-cover {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  transition: linear 1s 0s all;
}
#initial-cover::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 10%;
  width: 90%;
  min-height: 80vh;
  margin: 5% 0;
  background: no-repeat 70% 85% url(./preventSmoking.jpeg);
  background-size: 100% auto;
  border-radius: 1vh;
  transition: inherit;
}
#initial-cover h1 {
  z-index: 0;
  color: white;
  width: 80%;
  transition: inherit;
}
#initial-cover h1 a {
  font-style: italic;
}

#first-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
#first-article #costs {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 80%;
}
#first-article #costs > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  transition: linear 1s 1s all;
}
#first-article #costs > div img {
  position: sticky;
  top: 20%;
  margin: 1vw;
  min-height: 0;
  max-width: 100%;
  max-height: 90vh;
  border-radius: 0.5vw;
  align-self: flex-start;
}
#first-article #costs ul {
  display: flex;
  width: 50%;
  padding: 0 2.5%;
  min-height: inherit;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  transition: linear 2s 0s all;
}
#first-article #costs ul li {
  color: #2f2f2f;
  border-left: 0.5em solid #537d53;
  padding-left: 0.5vw;
  margin: 1vw 0;
}
#first-article #calc {
  background: #333;
  width: 85%;
  border-radius: 0.5vw;
  padding: 2.5%;
  margin: 2.5%;
  color: #f1f1f1;
  text-align: center;
}
#first-article #calc label * {
  margin: 0.5% 0;
}

#second-article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #333;
}
#second-article header {
  align-items: center;
  min-height: 20vh;
}
#second-article header h2 {
  color: #f1f1f1;
}
#second-article #timeline {
  display: flex;
  flex-wrap: wrap;
  /* timeline cards style*/
}
#second-article #timeline a {
  font-weight: bold;
}
#second-article #timeline #timeline-0 {
  background-color: rgba(200, 31, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-0 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-0:hover {
  background-color: rgba(200, 31, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-1 {
  background-color: rgba(200, 61, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-1 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-1:hover {
  background-color: rgba(200, 61, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-2 {
  background-color: rgba(200, 91, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-2 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-2:hover {
  background-color: rgba(200, 91, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-3 {
  background-color: rgba(200, 121, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-3 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-3:hover {
  background-color: rgba(200, 121, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-4 {
  background-color: rgba(200, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-4 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-4:hover {
  background-color: rgba(200, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-5 {
  background-color: rgba(180, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-5 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-5:hover {
  background-color: rgba(180, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-6 {
  background-color: rgba(160, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-6 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-6:hover {
  background-color: rgba(160, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-7 {
  background-color: rgba(140, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-7 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-7:hover {
  background-color: rgba(140, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-8 {
  background-color: rgba(120, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-8 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-8:hover {
  background-color: rgba(120, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-9 {
  background-color: rgba(100, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-9 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-9:hover {
  background-color: rgba(100, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-10 {
  background-color: rgba(80, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-10 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-10:hover {
  background-color: rgba(80, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}
#second-article #timeline #timeline-11 {
  background-color: rgba(60, 151, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 9%;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#second-article #timeline #timeline-11 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}
#second-article #timeline #timeline-11:hover {
  background-color: rgba(60, 151, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#tips {
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #f1f1f1;
}
#tips header {
  padding: 2.5% 0;
  font-size: 3em;
  text-align: center;
}
#tips section {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  flex-wrap: wrap;
}
#tips section > div {
  display: flex;
}
#tips section > div .bigExclamation {
  align-self: center;
  font-size: 5em;
  text-align: left;
  width: 25%;
}
#tips section > div .tip {
  width: 75%;
  position: relative;
  padding: 2.5vw;
  background-color: #f1f1f1;
  color: #333;
  border-top: 1vh solid #537d53;
  border-radius: 1vw;
}
#tips section > div .tip::before {
  content: "";
  position: absolute;
  background: #f1f1f1;
  top: 45%;
  left: -0.5vw;
  width: 1vw;
  height: 1vw;
  transform: rotate(45deg);
}

.horizontal-arrangement {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 680px) {
  #textCalc {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  #first-article #costs {
    flex-direction: column;
    width: 90%;
  }
  #first-article #costs > div {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: initial;
    align-items: center;
    height: auto;
    width: 100%;
  }
  #first-article #costs > div img {
    position: initial;
    top: initial;
    min-height: 0;
    width: 100%;
    max-height: initial;
    border-radius: 0.5vw;
    align-self: center;
  }
  #first-article #costs ul {
    width: 100%;
  }

  #initial-cover {
    min-height: 30vh;
    max-height: 80vh;
  }
  #initial-cover::before {
    min-height: 0;
    max-height: 70vh;
  }
  #initial-cover h1 {
    font-size: 1em;
    flex: 0 9 80%;
  }

  #main-nav-bar {
    height: auto;
  }
  #main-nav-bar > ul {
    flex-direction: column;
    width: 100%;
    height: 5vh;
    background: #f1f1f1;
    border: none;
    border-bottom: 1px solid #333;
  }
  #main-nav-bar > ul::before {
    content: "|||";
    align-self: center;
    position: absolute;
    writing-mode: vertical-lr;
  }
  #main-nav-bar > ul > li {
    display: none;
    text-align: center;
  }
  #main-nav-bar > ul > li > #sourcesContainer {
    width: 100%;
    left: 0;
  }
  #main-nav-bar > ul:hover {
    height: 25vh;
    box-shadow: 0 0 2px 1px #333;
  }
  #main-nav-bar > ul:hover > li {
    display: initial;
    font-weight: bold;
  }
  #main-nav-bar > ul:hover::before {
    display: none;
  }
}
/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) and (max-width: 680px) {
  #main-nav-bar {
    height: auto;
  }
  #main-nav-bar > label {
    display: initial;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #main-nav-bar > input {
    display: initial;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  #main-nav-bar > input:checked + ul {
    flex-direction: column;
    width: 100%;
    height: 5vh;
    background: #f1f1f1;
    border: none;
    border-bottom: 1px solid #333;
    height: 25vh;
    box-shadow: 0 0 2px 1px #333;
  }
  #main-nav-bar > input:checked + ul > li {
    display: initial;
    text-align: center;
    font-weight: bold;
  }
  #main-nav-bar > input:checked + ul > li a, #main-nav-bar > input:checked + ul > li #sourcesTitle {
    position: relative;
    z-index: 2;
  }
  #main-nav-bar > input:checked + ul > li > #sourcesContainer {
    width: 100%;
    left: 0;
    margin: 2.5% 0 0 0;
  }
  #main-nav-bar > input:checked + ul::before {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
