* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #f1f1f1;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
/* timeline cards style*/
$counter: 0;
$r: 200;
$g: 1;
$b: 10;
@while $counter <= 11 {
    @if $g < 150 {
        $g: $g + 35;
    }
    @else {
        $r: $r - 20;
    }
    #timeline-#{$counter} {
        background-color: rgba($r, $g, $b, 0.50);
        color: rgba(215, 215, 215 , 0.60);
        header {
            h4 {
                color: rgba(215, 215, 215 , 0.80);
                text-transform: uppercase;
            }
        }
        text-align: center;
        flex: 1 0 min-content;
        border-radius: 0.5vw 0.5vw 0 0;
        border-bottom: 5px solid #2f2f2f50;
        transition: linear 1s 0s background-color;
    }
    #timeline-#{$counter}:hover {
        background-color: rgba($r, $g, $b, 0.75);
        color: rgba(215, 215, 215 , 1);
        box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
        z-index: 1;
    }
    $counter:  $counter + 1;

}
header {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 1% 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #333;
    #formContainer {
        padding: 2.5vw;
        box-shadow: 1px 1px 25px 5px gray;
        border-radius: 0 0 0.5vw 0.5vw;
        form {
           div {
               padding: 1vw;
           } 
        }
    }
    #contactInfoContainer {
        > div {
            &:hover {
                box-shadow: 1px 1px 25px 5px gray;
                h2 {
                    visibility: hidden;
                }
                div, ul {
                    visibility: visible;
                }
            }
            div, ul {
                position: absolute;
                visibility: hidden;
            }
            display: flex;
            padding: 2.5vw;
            background-color: #fff;
            flex-direction: column;
            justify-content: center;
            border-radius: 0 0 0.5vw 0.5vw;
            text-align: left;
            flex: 0 0 max-content;
        }
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        padding: 0.5vw;
    }
}
#main-nav-bar {
    position: fixed;
    z-index: 2; 
    width: 100%;
    display: flex;
    justify-content: end;
    > ul {
        position: relative;
        right: 5vw;
        display: flex;
        font-size: 0.75em;
        padding: 1%;
        flex-direction: column;
        background-color: #f1f1f1;
        justify-content: stretch;
        border-radius: 0 0 0.5vw 0.5vw;
        border: 1px solid #333;
        li {
            color: #333;
            padding: 0.5vw;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
#initial-cover{
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        background: linear-gradient(360deg, #f1f1f1 1%, #f1f1f163 3%, #f1f1f100 5%);
    }
    background: no-repeat center/100% url(./preventSmoking.jpeg);
    height: 100vh;
    filter: grayscale(50%);
    align-items: center;
    h1 {
        color: white;
    }
}
#first-article {
    position: relative;
    display: flex;
    > div {
        img {
            height: 90vh;
            border-radius: 0.5vw;
            &:hover, + #costCal:hover {
                + #costCal {
                    position: absolute;
                    display: initial;
                    label {
                        display: flex;
                        background-color: #f1f1f1;
                        padding: 1vw;
                        border-radius: 0.5vw;
                        box-shadow: 1px 1px 5px 5px #f1f1f1;
                        flex: 0 5 3em;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: stretch;
                    }
                }
            }
        }
        #costCal {
            display: none;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50%;
    }
    ul {
        li {
            color: #2f2f2f;
            border-left: 1em solid #537d53;
            border-radius: 0.5vw 0 0 0.5vw;
            padding-left: 0.5vw;
        }
        display: flex;
        width: 50%;
        padding: 0 2.5%;
        min-height: inherit;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    min-height: 100vh; 
    width: 100%;
}
#second-article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2f2f2f;
    header {
        h2 {
            color: rgba(255,255,255,0.8);
        }
        align-items: center;
        min-height: 20vh;
    } 
    #timeline {
        display: flex;
        min-height: 80vh;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
#tips {
    background: #333;
    color: #f1f1f1;
    header {
        padding: 2.5% 0;
    }
    section {
        display: flex;
        justify-content: space-evenly;
        min-height: 100vh;
        > div {
            display: flex;
            justify-content: space-between;
            .bigExclamation {
                margin: 0 2.5%;
                font-size: 5em;
            }
            .tip {
                &::before {
                    content: "";
                    position: absolute;
                    background: #f1f1f1;
                    top: 45%;
                    left: -0.5vw;
                    width: 1vw;
                    height: 1vw;
                    transform: rotate(45deg);
                }
                position: relative;
                margin: 0 10%;
                padding: 2.5vw;
                background-color: #f1f1f1;
                color: #333;
                border-radius: 1vw;
            }
        }
    }
}
.horizontal-arrangement {
    display: flex;
    justify-content: space-evenly;
}
.vertical-arrangement {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
