* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* timeline cards style*/
#timeline-0 {
  background-color: rgba(200, 36, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-0 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-0:hover {
  background-color: rgba(200, 36, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-1 {
  background-color: rgba(200, 71, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-1 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-1:hover {
  background-color: rgba(200, 71, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-2 {
  background-color: rgba(200, 106, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-2 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-2:hover {
  background-color: rgba(200, 106, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-3 {
  background-color: rgba(200, 141, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-3 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-3:hover {
  background-color: rgba(200, 141, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-4 {
  background-color: rgba(200, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-4 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-4:hover {
  background-color: rgba(200, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-5 {
  background-color: rgba(180, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-5 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-5:hover {
  background-color: rgba(180, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-6 {
  background-color: rgba(160, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-6 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-6:hover {
  background-color: rgba(160, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-7 {
  background-color: rgba(140, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-7 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-7:hover {
  background-color: rgba(140, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-8 {
  background-color: rgba(120, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-8 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-8:hover {
  background-color: rgba(120, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-9 {
  background-color: rgba(100, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-9 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-9:hover {
  background-color: rgba(100, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-10 {
  background-color: rgba(80, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-10 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-10:hover {
  background-color: rgba(80, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

#timeline-11 {
  background-color: rgba(60, 176, 10, 0.5);
  color: rgba(215, 215, 215, 0.6);
  text-align: center;
  flex: 1 0 min-content;
  border-radius: 0.5vw 0.5vw 0 0;
  border-bottom: 5px solid #2f2f2f50;
  transition: linear 1s 0s background-color;
}
#timeline-11 header h4 {
  color: rgba(215, 215, 215, 0.8);
  text-transform: uppercase;
}

#timeline-11:hover {
  background-color: rgba(60, 176, 10, 0.75);
  color: #d7d7d7;
  box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
  z-index: 1;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 1% 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #333;
  background: linear-gradient(#333, #d1d1d1);
}
footer #formContainer {
  background: #f1f1f1;
  padding: 2.5vw;
  border: 2px solid #fff;
  border-radius: 0 0 0.5vw 0.5vw;
}
footer #formContainer:hover {
  box-shadow: 1px 1px 5px 5px gray;
}
footer #formContainer form div {
  padding: 1vw;
}
footer #contactInfoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding: 0.5vw;
}
footer #contactInfoContainer > div {
  display: flex;
  padding: 2.5vw;
  background: #f1f1f1;
  border: 2px solid #fff;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 0.5vw 0.5vw;
  text-align: left;
  flex: 0 0 max-content;
}
footer #contactInfoContainer > div:hover {
  box-shadow: 1px 1px 5px 5px gray;
}
footer #contactInfoContainer > div:hover h2 {
  visibility: hidden;
}
footer #contactInfoContainer > div:hover div, footer #contactInfoContainer > div:hover ul {
  visibility: visible;
}
footer #contactInfoContainer > div div, footer #contactInfoContainer > div ul {
  position: absolute;
  visibility: hidden;
}

#main-nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: end;
}
#main-nav-bar > ul {
  position: absolute;
  right: 10%;
  display: flex;
  font-size: 0.75em;
  padding: 1%;
  flex-direction: column;
  background-color: #f1f1f1;
  border-radius: 0 0 0.5vw 0.5vw;
  border: 1px solid #333;
  border-top: none;
}
#main-nav-bar > ul li {
  color: #333;
  padding: 0.5vw;
}
#main-nav-bar > ul li:hover {
  text-decoration: underline;
}

#initial-cover {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
}
#initial-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  height: auto;
  margin: 5%;
  background: no-repeat center url(./preventSmoking.jpeg);
  background-size: 100% auto;
  border-radius: 1vh;
}
#initial-cover h1 {
  z-index: 0;
  color: white;
}
#initial-cover h1 a {
  font-style: italic;
}

#first-article {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
}
#first-article > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50%;
}
#first-article > div img {
  position: sticky;
  top: 0%;
  margin: 1vw;
  min-height: 0;
  max-width: 100%;
  height: 90vh;
  border-radius: 0.5vw;
  align-self: flex-start;
}
#first-article > div img:hover + #costCal, #first-article > div img + #costCal:hover + #costCal {
  position: absolute;
  display: none;
}
#first-article > div img:hover + #costCal label, #first-article > div img + #costCal:hover + #costCal label {
  display: flex;
  background-color: #f1f1f1;
  padding: 1vw;
  border-radius: 0.5vw;
  box-shadow: 1px 1px 5px 5px #f1f1f1;
  flex: 0 5 3em;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
#first-article > div #costCal {
  display: none;
}
#first-article ul {
  display: flex;
  width: 50%;
  padding: 0 2.5%;
  min-height: inherit;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#first-article ul li {
  color: #2f2f2f;
  border-left: 1em solid #537d53;
  border-radius: 0.5vw 0 0 0.5vw;
  padding-left: 0.5vw;
}

#second-article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2f2f2f;
}
#second-article header {
  align-items: center;
  min-height: 20vh;
}
#second-article header h2 {
  color: rgba(255, 255, 255, 0.8);
}
#second-article #timeline {
  display: flex;
  min-height: 80vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#tips {
  background: #333;
  color: #f1f1f1;
}
#tips header {
  padding: 2.5% 0;
  font-size: 3em;
  text-align: center;
}
#tips section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  flex-wrap: wrap;
}
#tips section > div {
  display: flex;
}
#tips section > div .bigExclamation {
  padding: 1vw;
  margin: 0 2.5%;
  font-size: 5em;
  text-align: center;
  width: 25%;
}
#tips section > div .tip {
  width: 75%;
  position: relative;
  margin: 0 2.5%;
  padding: 2.5vw;
  background-color: #f1f1f1;
  color: #333;
  border-top: 1vh solid #537d53;
  border-radius: 1vw;
}
#tips section > div .tip::before {
  content: "";
  position: absolute;
  background: #f1f1f1;
  top: 45%;
  left: -0.5vw;
  width: 1vw;
  height: 1vw;
  transform: rotate(45deg);
}

.horizontal-arrangement {
  display: flex;
  justify-content: space-evenly;
}

/*# sourceMappingURL=style.css.map */
