@use 'sass:math';

* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #f1f1f1;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
header {
    display: flex;
    justify-content: center;
}
footer {
    form {
        h2 {
            padding: 2% 0;
        }
        label, input {
           padding: 0.5%;
        } 
        textarea {
            padding: 0.5%; 
            min-height: 25vh;
            width: 80%;
            box-sizing: border-box;
            border: none;
        }
        div {
            label {
                width: 20%;
            }
            input {
                border: none;
                width: 80%;
            }
            display: flex;
            justify-content: space-around;
            width: 80%;
            padding: 0.5vw 0;
        }
        color: #333;
        position: relative;
        display: flex;
        max-height: 90vh;
        width: 80%;
        padding: 0.5% 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #f1f1f1;
        border-radius: 0.5vw;
        border-top: 4px solid #537d53;
    }
    #contactInfoContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 5%;
        flex-basis: 0 1 auto;
        flex-wrap: wrap;
        a {
            #LIL {
                height: 50px ;
            }
        }
    }
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5% 0 0 0;
    color: #333;
    background: linear-gradient(#333, #322e32, #536d53);
}

#main-nav-bar {
    > label, > input { display: none; }
    > ul {
        > li {
            color: #333;
            padding: 0.5vw;
            a:hover, label:hover {
                text-decoration: underline;
            }
            input {
                &:checked {
                    + #sourcesContainer {
                        display: flex;
                    }
                }
                visibility: hidden;
                width: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            #sourcesContainer {
                &::before {
                    content: "";
                    position: relative;
                    background: #f1f1f1;
                    width: 16px;
                    height: 16px;
                    transform: rotate(45deg);
                    top: -9px;
                    //top: #{-(math.sqrt(16*16 + 16*16) - 1) / 2 }px;
                    border-top: 1px solid #333;
                    border-left: 1px solid #333;
                    z-index: 1;
                }
                ul {
                    li {
                        a:hover {
                            color: #537d53;
                            text-decoration: none;
                        }
                        padding: 0.5vw;
                        color: #333;
                    }
                }
                position: absolute;
                top: 175%;
                left: -50%;
                width: 200%;
                display: none;
                align-items: center;
                flex-direction: column;
                background: #f1f1f1;
                text-align: center;
                border-radius: 0.5vw;
                border: 1px solid #333;
                box-sizing: border-box;
            }
            position: relative;
            transition: linear 1s 5s all;
        }
        transition: linear 0.1s 0s all;
        width: 50%;
        display: flex;
        font-size: 0.75em;
        justify-content: space-evenly;
        background-color: #f1f1f1;
        border-radius: 0 0 0.5vw 0.5vw;
        border: 1px solid #333;
        border-top: none;
        height: auto;
    }
    & * { 
    }
    transition: linear 2s 0s all;
    position: sticky;
    top: 0;
    z-index: 2; 
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
#initial-cover{
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 10%;
        width: 90%;
        min-height: 80vh;
        margin: 5% 0;
        background: no-repeat 70% 85% url(img/preventSmoking.jp2);
        background-size: 100% auto;
        border-radius: 1vh;
        transition: inherit;
    }
    h1 {
        z-index: 0;
        color: white;
        width: 80%;
        a {
            font-style: italic;
        }
        transition: inherit; 
    }
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    transition: linear 1s 0s all;
}
#first-article {
    #costs {
        > div {
            img {
                position: sticky;
                top: 20%;
                margin: 1vw;
                min-height: 0;
                max-width: 100%;
                max-height: 90vh;
                border-radius: 0.5vw;
                align-self: flex-start;
            }
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 50%;
            transition: linear 1s 1s all;
        }
        ul {
            li {
                color: #2f2f2f;
                border-left: 0.5em solid #537d53;
                padding-left: 0.5vw;
                margin: 1vw 0;
            }
            display: flex;
            width: 50%;
            padding: 0 2.5%;
            min-height: inherit;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            transition: linear 2s 0s all;
        }
        position: relative;
        display: flex;
        min-height: 100vh; 
        width: 80%;
    }
    #calc {
        background: #333;
        width: 85%;
        border-radius: 0.5vw;
        padding: 2.5%;
        margin: 2.5%;
        color: #f1f1f1;
        text-align: center;
        label * {
            margin: 0.5% 0;
        }
    }
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    width: 100%;
}
#second-article {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #333;
    header {
        h2 {
            color: #f1f1f1; 
        }
        align-items: center;
        min-height: 20vh;
    } 
    #timeline {
        display: flex;
        flex-wrap: wrap;
        a {
            font-weight: bold;
        }
        /* timeline cards style*/
        $counter: 0;
        $r: 200;
        $g: 1;
        $b: 10;
        @while $counter <= 11 {
            @if $g < 150 {
                $g: $g + 30;
            }
            @else {
                $r: $r - 20;
            }
            #timeline-#{$counter} {
                background-color: rgba($r, $g, $b, 0.50);
                color: rgba(215, 215, 215 , 0.60);
                header {
                    h4 {
                        color: rgba(215, 215, 215 , 0.80);
                        text-transform: uppercase;
                    }
                }
                text-align: center;
                flex: 1 0 9%;
                border-radius: 0.5vw 0.5vw 0 0;
                border-bottom: 5px solid #2f2f2f50;
                transition: linear 1s 0s background-color;
            }
            #timeline-#{$counter}:hover {
                background-color: rgba($r, $g, $b, 0.75);
                color: rgba(215, 215, 215 , 1);
                box-shadow: 0 0 5px 5px rgba(25, 25, 25, 0.45);
                z-index: 1;
            }
            $counter:  $counter + 1;

        }
    }
}
#tips {
    header {
        padding: 2.5% 0;
        font-size: 3em;
        text-align: center;
    }
    section {
        > div {
            .bigExclamation {
                align-self: center;
                font-size: 5em;
                text-align: left;
                width: 25%;
            }
            .tip {
                &::before {
                    content: "";
                    position: absolute;
                    background: #f1f1f1;
                    top: 45%;
                    left: -0.5vw;
                    width: 1vw;
                    height: 1vw;
                    transform: rotate(45deg);
                }
                width: 75%;
                position: relative;
                padding: 2.5vw;
                background-color: #f1f1f1;
                color: #333;
                border-top: 1vh solid #537d53;
                border-radius: 1vw;
            }
            display: flex;
        }
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 100vh;
        flex-wrap: wrap;
    }
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f1f1f1;
}
.horizontal-arrangement {
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 680px), (pointer: coarse) {
    #textCalc {
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    #first-article {
        #costs {
            > div {
                img {
                    position: initial;
                    top: initial;
                    min-height: 0;
                    width: 100%;
                    max-height: initial;
                    border-radius: 0.5vw;
                    align-self: center;
                }
                position: relative;
                display: flex;
                justify-content: center;
                min-height: initial;
                align-items: center;
                height: auto;
                width: 100%;
            }
            flex-direction: column;
            ul {
                width: 100%;
            }
        width: 90%;
        }
    }
    #initial-cover {
        &::before {
        min-height: 0;
        max-height: 70vh;
        }
        h1 {
            font-size: 1em;
            flex: 0 9 80%;
        }
        min-height: 30vh;
        max-height: 80vh;
    }
    #main-nav-bar {
        > ul {
            &::before {
                content: "|||";
                align-self: center;
                position: absolute;
                writing-mode: vertical-lr;
            }
            flex-direction: column;
            width: 100%;
            height: 5vh;
            background: #f1f1f1;
            border: none;
            border-bottom: 1px solid #333;
            > li {
                display: none;
                text-align: center;
                > #sourcesContainer {
                    &::before {
                        border: none;
                        box-shadow: 0 0 2px 1px #333;
                        margin: 0;
                        padding: 0;
                    }
                    width: 100%;
                    left: 0;
                    padding: 0;
                    top: 150%;
                    border: none;
                    box-shadow: 0 0 2px 1px #333;
                }
            }
            &:hover { 
                > li {
                    display: initial;
                    font-weight: bold;
                }
                &::before {
                    display: none;
                }
                height: 25vh;
                box-shadow: 0 0 2px 1px #333;
            }
            padding: 2.5% 0 2.5% 0;
        }
        height: auto;
    }
}
/* smartphones, touchscreens */
@media (any-hover: none) and (pointer: coarse) {
    #main-nav-bar {
        > label {
            display: initial;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1; 
        }
        > input {
            display: initial;
            visibility: hidden;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            &:checked {
                + ul {
                    flex-direction: column;
                    width: 100%;
                    height: 5vh;
                    background: #f1f1f1;
                    border: none;
                    border-bottom: 1px solid #333;
                    height: 25vh;
                    box-shadow: 0 0 2px 1px #333;
                    > li {
                        a, #sourcesTitle {
                            position: relative;
                            z-index: 2;
                        }
                        display: initial;
                        text-align: center;
                        font-weight: bold;
                        > #sourcesContainer {
                            width: 100%;
                            border: none;
                            box-shadow: 0 0 2px 1px #333;
                            left: 0;
                            margin: 2.5% 0 0 0;
                        }
                    }
                    &::before {
                        display: none;
                    }
                }
            } 
        }
        height: auto;
    }
}
